body{
    background-color: rgb(236, 247, 208);
}
#mytext,#myimg{
    position: absolute;
}
h3{
   color: rgb(65, 87, 28); 
}
.h3DvigImg{
 margin-top: 190px;
 margin-bottom: 7px;

}
h3.h3Menu{
    margin-top:0px;
}
#animimg1, #animimg2{
    position: absolute;
    width: 200px;
}
.boimg{
    margin-top: 190px;
    margin-bottom: 50px;
}
#animimg2{
    top:80;
    left:80;
}
#graf{
    margin-top: 190px;
    margin-bottom: 10px;
}
fieldset{
    background-color: rgb(247, 243, 189);
    border-radius: 10px;
    border: 2px solid rgb(153, 190, 87);
}
#button, #funccolor{
    background-color: rgb(255, 251, 251);
    border-radius: 5px;
    border: 2px dotted rgb(255, 255, 255);
    color:black;
}

#nav{
    text-align: center;
}
.menu-item{
    text-align: center;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 10px;
    padding: 5px;
}

.submenu{
    background: #FFC618 ;
    position: absolute;
    cursor: pointer;
    height: 40px;
    width: 110;
}
a{
    text-decoration: none;
    color:white;
}
