
p{
    color: blue; font-family: Arial, Helvetica, sans-serif; font-size:16pt;
}
.car{
    color:red;font-family:'Times New Roman', Times, serif;font-size: 18pt;
}
.lim{
    color:yellow;font-family: 'Times New Roman', Times, serif;font-size: 20pt;
}
.cip{
    color:green;font-family: 'Times New Roman', Times, serif;font-size: 22pt;   
}


