/* Задание 1 */
.forOne {
    margin-bottom: 60px;
    margin-top: 60px;
}
.forOne > img {
    width: 240px;
    height: 240px;
    margin-left: 95px;
}
.firstImg {
    transition: transform 0.3s linear;
}
.firstImg:hover {
    transform: scale(0.5);
}
.secondImg {
    transform: rotate(45deg);
}
.thirdImg {
    transform: translate(50px);
}
.fourthImg {
    transition: transform 0.3s linear;
}
.fourthImg:hover {
    transform: skew(-20deg);
}
/* Задание 2 */
.forTwo {
    margin-bottom: 40px;
    margin-top: 40px;
}
.forTwo > div {
display: inline-block;
background-color: yellow;
width: 254px;
height: 254px;
margin-right: 50px;
}
div > img {
width: 240px;
height: 240px;
padding: 8px;
}
.firstTwoImg {
    margin-left: 170px;
    transform: perspective(400px) rotateX(30deg);
}
.secondTwoImg {
    transform: perspective(400px) rotateY(40deg);
}
.thirdTwoImg {
    transform: perspective(400px) rotateX(30deg);
}
.fourthTwoImg {
    transform: perspective(400px) rotateY(-40deg);
}
/* Задание 3 */
.text {
    width: 300px;
    height: 300px;
    padding: 5px;
    border: 5px solid orange;
    background-color: skyblue;
    color:blue;
    transition: color 20s linear; /*задаем переход*/
}
div:hover{
    color: black;
}
.text > p {
    font-size: 26px;
    margin-top: 0px;
}
/* Задание 4 */
.forFour {
    animation: photos 5s linear infinite alternate;
    width: 600px;
    height: 450px;
    border: 5px solid black;
}
@keyframes photos {
    from {
       background-image: url(negr2.jpg);
       background-repeat: no-repeat;
       background-size: 100%;
    }
    25% {
        background-image: url(genshin2.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    50% {
        background-image: url(sosiska2.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    75% {
        background-image: url(dogman2.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    to {
        background-image: url(luftwaffeMarch2.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
}
/* Задание 5 */
.forFive img {
    width: 270px;
    height: 202.5px;
    display:block;
}
.oneImg {
    animation: horiz 5s linear infinite;
    position: relative;
}
.twoImg {
    animation: vert 5s linear infinite;
    position: relative;
}
.threeImg {
    animation: rand 5s linear infinite;
    position: relative;
}
.fourImg {
    animation: sqr 5s linear infinite;
    position: relative;
}
@keyframes horiz {
    from {left: 0}
    50% {left: 200px}
    to {left: 0}
}
@keyframes vert {
    from {top: 0}
    50% {top: -200px}
    to {top: 0}
}
@keyframes rand {
    from {left: 0; top: 0}
    25% {left: 150px; top: 0}
    50% {left: 350px; top: 150px}
    75% {left: 0; top: 150px}
    to {left: 0; top: 0}
}
@keyframes sqr {
    from {left: 0; top: 0}
    25% {left: 150px; top: 0}
    50% {left: 150px; top: 150px}
    75% {left: 0; top: 150px}
    to {left: 0; top: 0} 
}
/* Задание 6 */
h1 {
    text-align: center;
}

/* Доп */
body {
    background-color: rgb(206, 168, 214);
}
hr {
    border: none;
    border-top: 4px solid black;
    text-align: center;
    overflow: visible;
}
/* Начало */
ul li {
     display: inline;
     margin: 0px;
}
ul a {
display: inline-block;
border: 1px solid black;
padding: 5px 15px 5px 15px;
background-color: yellow;
text-decoration: none;
color: greenyellow;
margin: -3px; /* для ашек создается отступ, поэтому мы дожны его убрать */
}
ul a:visited {
    color: green;
}
nav {
    font-size: 25px;
    text-align: center;
}
